## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [205]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [206]:
# Your code here

sample_list_1 = random.sample (range (101),80)

print (sample_list_1)

[4, 27, 67, 31, 80, 76, 28, 37, 0, 24, 100, 14, 25, 10, 48, 7, 33, 46, 75, 54, 79, 89, 16, 82, 58, 87, 69, 73, 1, 50, 77, 32, 43, 74, 5, 86, 8, 68, 71, 30, 23, 88, 57, 36, 83, 66, 18, 17, 62, 35, 78, 53, 52, 72, 99, 91, 6, 56, 64, 20, 81, 51, 70, 94, 11, 44, 95, 19, 29, 40, 9, 96, 34, 98, 2, 45, 59, 39, 15, 63]

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [207]:
# Your code here

set1 = set (sample_list_1)

print (set1)
print (len(set1))

{0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 14, 15, 16, 17, 18, 19, 20, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 43, 44, 45, 46, 48, 50, 51, 52, 53, 54, 56, 57, 58, 59, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 86, 87, 88, 89, 91, 94, 95, 96, 98, 99, 100}
80

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [208]:
# Your code here

sample_list = [random.sample (range(101),1) for value in range(80)]

print (sample_list) 

sample_list_2 = [subsubset for subset in sample_list for subsubset in subset]
print(sample_list_2)

print(len(sample_list_2))

[[56], [52], [33], [44], [10], [82], [20], [84], [80], [96], [78], [13], [26], [28], [64], [69], [36], [78], [23], [72], [95], [58], [64], [13], [10], [43], [9], [63], [75], [65], [40], [63], [34], [41], [30], [42], [19], [21], [0], [47], [77], [41], [6], [53], [38], [6], [18], [24], [30], [16], [85], [25], [87], [84], [26], [53], [7], [12], [18], [12], [67], [62], [54], [15], [87], [63], [28], [20], [99], [49], [17], [39], [86], [11], [30], [33], [91], [55], [64], [98]]
[56, 52, 33, 44, 10, 82, 20, 84, 80, 96, 78, 13, 26, 28, 64, 69, 36, 78, 23, 72, 95, 58, 64, 13, 10, 43, 9, 63, 75, 65, 40, 63, 34, 41, 30, 42, 19, 21, 0, 47, 77, 41, 6, 53, 38, 6, 18, 24, 30, 16, 85, 25, 87, 84, 26, 53, 7, 12, 18, 12, 67, 62, 54, 15, 87, 63, 28, 20, 99, 49, 17, 39, 86, 11, 30, 33, 91, 55, 64, 98]
80

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [209]:
# Your code here

set2 = set(sample_list_2)

print(set2)

print(len(set2))
#not same lenght as sample_list_2 as repeated values are removed from the set

{0, 6, 7, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 28, 30, 33, 34, 36, 38, 39, 40, 41, 42, 43, 44, 47, 49, 52, 53, 54, 55, 56, 58, 62, 63, 64, 65, 67, 69, 72, 75, 77, 78, 80, 82, 84, 85, 86, 87, 91, 95, 96, 98, 99}
60

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [210]:
# Your code here

set3 = set1 - set2

print (set3)

{1, 2, 4, 5, 8, 14, 27, 29, 31, 32, 35, 37, 45, 46, 48, 50, 51, 57, 59, 66, 68, 70, 71, 73, 74, 76, 79, 81, 83, 88, 89, 94, 100}

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [211]:
# Your code here

set4 = set2 - set1

print (set4)

{65, 38, 41, 42, 12, 13, 47, 49, 84, 21, 85, 55, 26}

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [212]:
# Your code here

set5 = set1.intersection(set2)

print (set5)

{0, 6, 7, 9, 10, 11, 15, 16, 17, 18, 19, 20, 23, 24, 25, 28, 30, 33, 34, 36, 39, 40, 43, 44, 52, 53, 54, 56, 58, 62, 63, 64, 67, 69, 72, 75, 77, 78, 80, 82, 86, 87, 91, 95, 96, 98, 99}

#### 8 - Create an empty set called `set6`.

In [213]:
# Your code here

set6 = set()

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [214]:
# Your code here

set6.update(set3, set5)

print(set6)

{0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 14, 15, 16, 17, 18, 19, 20, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 43, 44, 45, 46, 48, 50, 51, 52, 53, 54, 56, 57, 58, 59, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 86, 87, 88, 89, 91, 94, 95, 96, 98, 99, 100}

#### 10 - Check if `set1` and `set6` are equal.

In [215]:
# Your code here

set1 == set6

True

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [216]:
# Your code here

check1 = set1.issubset (set2)

print (check1)

check2 = set1.issubset (set3)

print (check2)

False
False

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [217]:
# Your code here

all_1 = set3.union(set4)
all_2 = all_1.union(set5)

print (all_2)

all_3 = set1.union(set2)

print (all_3)

print (all_2 == all_3)

{0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 94, 95, 96, 98, 99, 100}
{0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 94, 95, 96, 98, 99, 100}
True

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [218]:
# Your code here

set1.pop()

print (set1)

# run 2x the cell therefore the 2 first numbers have been removed

{1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 14, 15, 16, 17, 18, 19, 20, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 43, 44, 45, 46, 48, 50, 51, 52, 53, 54, 56, 57, 58, 59, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 86, 87, 88, 89, 91, 94, 95, 96, 98, 99, 100}

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [219]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set_remove = set(list_to_remove)

equals = set1.intersection(set_remove)

print ("The values equals are: ", equals)

remaining = set1 - equals

print ("The remaining values in set1 are: ", remaining)

The values equals are:  {1, 99, 69, 39, 71, 9, 91, 11, 79, 81, 19, 51, 89, 59, 29, 31}
The remaining values in set1 are:  {2, 4, 5, 6, 7, 8, 10, 14, 15, 16, 17, 18, 20, 23, 24, 25, 27, 28, 30, 32, 33, 34, 35, 36, 37, 40, 43, 44, 45, 46, 48, 50, 52, 53, 54, 56, 57, 58, 62, 63, 64, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 86, 87, 88, 94, 95, 96, 98, 100}

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [220]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [221]:
# Your code here

father_set = set (father_list)
jo_set = set (Jo_list)
carlos_set = set (Carlos_list)

complete_set = father_set.union(jo_set,carlos_set)
print(complete_set)

{'garlic', 'gums', 'cucumber', 'juice', 'milk', 'flour', 'watermelon', 'yogurt', 'water', 'onions', 'tomatoes', 'cherries', 'sugar', 'toilet paper', 'blueberries'}

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [222]:
# Your code here

mattia_set = jo_set.symmetric_difference (carlos_set)

print (mattia_set)

{'flour', 'watermelon', 'yogurt', 'gums', 'water', 'cucumber', 'cherries', 'juice', 'sugar', 'milk', 'toilet paper'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [223]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['blueberries', 'cherries', 'blueberries', 'garlic', 'milk', 'toilet paper', 'sugar', 'cucumber', 'mushrooms', 'milk']

In [224]:
# Your code here

mother_set = set (mother_list)

print (mother_set)

{'garlic', 'cucumber', 'mushrooms', 'cherries', 'sugar', 'milk', 'toilet paper', 'blueberries'}

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [225]:
# Your code here

final_set = complete_set.union (mother_set)

final_set.discard ("toilet paper")

print (final_set)

{'garlic', 'gums', 'cucumber', 'juice', 'milk', 'flour', 'watermelon', 'yogurt', 'water', 'onions', 'mushrooms', 'tomatoes', 'cherries', 'sugar', 'blueberries'}

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [226]:
# Your code here

print (final_set)

print (len(final_set))

{'garlic', 'gums', 'cucumber', 'juice', 'milk', 'flour', 'watermelon', 'yogurt', 'water', 'onions', 'mushrooms', 'tomatoes', 'cherries', 'sugar', 'blueberries'}
15

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [231]:
# Your code here

while len(final_set) > 5:
    final_set.pop ()

print (final_set)
print (len(final_set))

{'mushrooms', 'tomatoes', 'cherries', 'sugar', 'blueberries'}
5